dl {
  clear: both;
  padding: 10px;
}
dl dt {
  float: left;
  width: 100px;
  font-weight: bold;
}
dl dd {
  float: left;
  margin-left: 10px;
}
dl .info {
  display: none;
}
dl .error {
  color: red;
}
.buttons {
  clear: both;
  padding: 10px;
}
#shits .name {
  display: inline-block;
  width: 60px;
}
#shits .comment {
  display: inline-block;
}