@import entity._
@import helper._

@(shits: Seq[Shit], f: Form[ShitForm])

@main("Welcome to Rts") {
    Shits:
    <ul id="shits">
        @for(shit <- shits){
        <li>
            <div id="name_field_@shit.id">@shit.name</div>
            <div id="category_field_@shit.id">@shit.category</div>
            <div id="comment_field_@shit.id">@shit.comment</div>
            <div id="edit_@shit.id" style="display:inline" onclick="editShit(@shit.id)">Edit</div>
            <div id="del_@shit.id"  style="display:inline" onclick="delShit(@shit.id)">Done</div>
            <div>==================================================================</div>
        </li>
        }
    </ul>

    New Shit:

    <form action="/addShit" method="POST">
        <div>Name:   <input name="name" type="text"/></div>
        <div>Category:<input name="category" type="text"/></div>
        <div>Comment:<input name="comment" type="text"/></div>
        <input type="submit" value="Add Shit"/>
    </form>

<script>
    var editShit = function(id){
        $("#name_field_" + id).attr("contenteditable", true);
        $("#category_field_" + id).attr("contenteditable", true);
        $("#comment_field_" + id).attr("contenteditable", true);
        $("#edit_" + id).text("Update");
        $("#edit_" + id).attr("onclick", "updateShit(" + id + ")");
    }

    var delShit = function(id){
        if (confirm("Mark this as done?")) {
            $.ajax({
                url: '/delShit/' + id,
                type: 'DELETE',
                success: function(result) {
                    location.reload();
                }
            });
        }
    }

    var updateShit = function(id) {
        $("#name_field_" + id).attr("contenteditable", false);
        $("#category_field_" + id).attr("contenteditable", false);
        $("#comment_field_" + id).attr("contenteditable", false);
        $("#edit_" + id).text("Edit");
        $("#edit_" + id).attr("onclick", "editShit(" + id + ")");
        var shit = {
            name:$("#name_field_" + id).html(),
            category:$("#category_field_" + id).html(),
            comment:$("#comment_field_" + id).html()
        };
        $.ajax({
            url: '/editShit/' + id,
            type: 'POST',
            data: shit,
            success: function(result) {
                location.reload();
            }
        });
    }
</script>
}
