@import entity._
@import helper._

@(shits: Seq[Shit], f: Form[CreateShitForm])(implicit messages: Messages)

@main("Welcome to Rts") {
    Shits:
    <ul id="shits">
        @for(shit <- shits){
        <li>
            <div>@shit.name</div>
            <div>@shit.comment</div>
            <div id="@shit.id" onclick="delShit(id)">Done</div>
        </li>
        }
    </ul>

    New Shit:
    @form(routes.ShitController.addShit()) {
        @inputText(f("name"))
        @inputText(f("comment"))
        <div class="buttons">
            <input type="submit" value="Add Shit"/>
        </div>
    }
<script>
    var delShit = function(id){
        $.ajax({
            url: '/delShit/' + id,
            type: 'DELETE',
            success: function(result) {
                location.reload();
            }
        });
    }
</script>
}
